$redes: (
    twitter: #55ACEE,
    facebook: #3B5998,
    instagram: rgb(225,48,108),
    whatsapp: rgb(37, 211, 102)
);

$fuenteHeading:'Montserrat', sans-serif;
$fuenteParrafos: 'Roboto', sans-serif;
$blanco: #FFF;
$negro: #000;

@mixin  grid-crgaj($col, $row, $gap, $align, $justify) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-dgja($direction, $gap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}

@mixin font-fsw($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin boton($bg-color) {
    background-color: $bg-color;
    font-weight: bold;
    color: $blanco;
    border: none;
    transition: .3s ease;
    padding: 1rem;

}

/* --------------------------------------------------------------- */

@font-face {
    font-family: Aquire;
    src: url("../fuente/Aquire-BW0ox.otf") format("opentype");
}

@font-face {
    font-family: Aquire;
    font-weight:normal;
    src: url("../fuente/AquireLight-YzE0o.otf") format("opentype");
}

@font-face {
    font-family: Aquire;
    font-weight: bold;
    src: url("../fuente/AquireBold-8Ma60.otf") format("opentype");
}

/* --------------------------------------------------------------- */

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 1 rem = 10 pixeles */
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: $fuenteParrafos;
    font-size: 1.6rem;
    line-height: 1.5;     /* Interlineado */
    margin: 0;
}

header {
    // background-image: url(../img/5.jpg);
    // background-color: black;
    background-color: #1a1a1a;
    border-bottom: 1px solid rgb(90, 90, 90);
    // height: 30rem;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .row {
        gap: 1rem;
    }
    
    
}

.contenedor{
    width: 85%;
    margin: 0 auto;

    &-header {
        width: 95%;
        margin: 0 auto;
    }

    &-expandido {
        width: 95%;
        margin: 0 auto;
    }
}

@media(min-width: 768px) {
    .contenedor-expandido {
        width: 85%;
    }
}

.header__contacto {
    text-align: end;

    .fa {
        padding: .5rem;
        width: 2rem;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
    
        /* Add a hover effect if you want */
        &:hover {
            transition: .5s;
        }
    
        @each $red, $bg in $redes {
            &-#{$red} {
                color: $blanco;
                background: $bg;
            }
    
            &-#{$red}:hover {
                color: $bg;
                background: $blanco;
            }
        }
    }
}




.logo {
    display: inline-block;
    font-family: Aquire;
    color: $blanco;
    // font-size: 5rem;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-align: center;


    &:hover {
        color: $blanco;
    }
}

.logo-pie {
    @extend .logo;
    color: gray;
    font-size: 3rem;

    &:hover {
        color: gray;
    }
}

.contenedor-carrito {
    padding-top: 2rem;
}

li#dropdown-carrito-li {
    display: flex;
    justify-content: flex-end;
    i {
        font-size: 2.5rem;
    }
}

#vaciar-carrito, #procesar-pedido {
    font-size: 1.2rem;
}

.menu-carrito {
    max-height: 300px;
    width: 450px;
    overflow-y: auto;
    font-size: 1.4rem;
    
}

tbody {

    font-size: 1.4rem;

    tr {
        vertical-align: middle;
        td .borrar-producto{
            text-decoration: none;
            font-size: 2rem;
        }
    }
    
    img {
    height: 100px;
    width: 70px;
    }
}


.inicio-sesion {
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;

    img {
        display: inline;
        position: relative;
        width: 5%;
    }
    
    .log {
        display: inline;
        color: $blanco;
    }
    .bx-cart {
        color: white;
        font-size: 30px;
    }
}

.nav {
    justify-content: center;
    align-items: center;

    &-link {
        color: $blanco;
        
        font-size: 1.6rem;
        text-decoration: none;
        padding: 0 .5rem;
        border-radius: .5rem;
        background-color: unset;
        border: none;

        &:hover {
            color: $negro;
            background-color: $blanco;
            transition: .5s ease;
        }
    }
}

.dropdown-item {
    font-family: $fuenteParrafos;
    font-size: 1.6rem;
}
 
.buscar {
    display: flex;
    justify-content: center;

    &__barra {
        // background: transparent;
        background-color: $blanco;
        border: none;
        height: 2.5rem;
        font-size: 1rem;
        width: 50%;
        
        color: $negro;
        border-radius: 5px;
        
        &:focus {
            outline: none;
        }

        &::placeholder {
            opacity: 0.5;
            color: black;
            font-weight: 700;
        }
    }
}

.contenedor-carrito {
    padding-top: 0;

    .dropdown-menu {
        max-height: 320px;
        overflow-y: scroll;
        font-size: 1.2rem;

        tbody {
            font-size: 1.2rem;
        }
      }

    li#dropdown-carrito-li i{
        font-size: 2.5rem;
    }
}

.inicio-sesion {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-top: 2rem;
    font-size: 1.2rem;
}

@media(min-width: 991px) {

    
    header {
        height: 19rem;

        .header__contacto {
        
            .fa {
                margin-top: 1rem;
                padding: 1rem;
                width: 3rem;
                font-size: 1rem;
                text-align: center;
                text-decoration: none;
            
                /* Add a hover effect if you want */
                &:hover {
                    transition: .5s;
                }
            
                @each $red, $bg in $redes {
                    &-#{$red} {
                        color: $blanco;
                        background: $bg;
                    }
            
                    &-#{$red}:hover {
                        color: $bg;
                        background: $blanco;
                    }
                }
            }
        }

        nav {
            margin-top: 1rem;
        }

        .nav {

            justify-content: flex-end;
            align-items: center;

            &-link {
                font-size: 1.8rem;
            }
        }

        .row {
            gap: 0;
        }

        .logo {
            text-align: left;
            font-size: 5.5rem;
        }

        .buscar {
            justify-content: center;
            padding-top: 0;
            align-self: center;

            &__barra {
                font-size: 2rem;
                width: 75%;
                padding: 2rem;
            }
        }

        .contenedor-carrito {
            padding-top: 0rem;

            li#dropdown-carrito-li i {
                font-size: 2.5rem;
            }

            .inicio-sesion {
                font-size: 1.6rem;
            }
        }
    }

    
}

/* --------------------------- */
/* CATEGORIAS */

.categorias {
    padding-top: 10rem;

    &__secciones {
        @include  grid-crgaj(repeat(2, 1fr), repeat(3, 1fr), .5rem, start, start);
        margin: 5rem auto;
        width: 100%;

        .seccion {
            width: 100%;
            height: 100%;
            position: relative;

            &__contenedorImagen {
                width: 100%;
                height: 100%;
                overflow: hidden;
                justify-content: center;

                img {
                    height: 100%;
                    width: 100%;
                    filter: brightness(60%);
                    transition: transform .3s ease;
                }

                .seccion__overlay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
    
                    p {
                        color: $blanco;
                        font-family: $fuenteHeading;
                        font-size: 1.5rem;
                        margin: 0;
                        padding: 0 .5rem;
                        z-index: 2;
                        transition: transform .3s ease;   
                    }
                }
            }
        }
    }

    #seccion-bajos {
        grid-column: auto;
    }
    
    #seccion-amplificadores {
        grid-column: auto;
    }
    
    #seccion-accesorios {
        grid-column: auto;
    }
}

.titulo {
    margin: 0;
    padding: 1rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    @include font-fsw($fuenteHeading, 2rem, normal);
}

@media(min-width: 768px) {
    .categorias {
        padding-top: 5rem;

        &__secciones {
            @include  grid-crgaj(repeat(2, 1fr), repeat(3, 1fr), .5rem, start, start);
            margin: 5rem auto;
            width: 100%;

            .seccion__contenedorImagen {
                border-radius: 0;
                img {
                    border-radius: 0;
                }
                .seccion__overlay p {
                    font-size: 2rem;
                }
            }
        }
    }

    .titulo {
        padding: 2rem 0 2rem 0;
        font-size: 2.5rem;
    }
}

@media(min-width: 1024px) {

    .categorias {
        &__secciones {
            width: 80%;
            @include  grid-crgaj(repeat(3, 1fr), repeat(3, 1fr), .5rem, start, start);

            #seccion-bajos {
                grid-column: 1/3;
            }
        
            #seccion-amplificadores {
                grid-column: 2/4;
            }
        
            #seccion-accesorios {
                grid-column: 1/3;
            }

            .seccion {
                height: 300px;
                &__contenedorImagen {
                    overflow: hidden;
                    border-radius: 10px;
                    justify-content: center;
    
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }

                    .seccion__overlay p {
                        font-size: 2.5rem;
                    }
                }

                &:hover .seccion__contenedorImagen img {
                    transform: scale(1.1);
                    filter: brightness(75%);
                }
    
                &:hover p {
                    transform: scale(1.3);
                }
            }
        }
    }
    
    .titulo {
        padding: 2rem 0 2rem 0;
        font-size: 3rem;
    }
}

/* ---------------------------------------------------------------*/
// CAROUSEL 

.carousel {
    width: 100%;

    .carousel-indicators {
        display: none;
    }
    .carousel-item {
        img {
            height: 18rem;
        }

    }
}

@media (min-width: 768px) {
    .carousel .carousel-item img {
        height: 30rem;
    }

    .carousel .carousel-indicators {
        display: block;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    .carousel {
        
        margin: 0 auto;
        
        .carousel-item {
            img {
                height: 52rem;
            }

        }
    }
    
}


/* ---------------------------------------------------------------*/
/* EXTRA */

.extras {
    @include flex-dgja(column, 5rem, space-around, none);
    width: 70%;
    margin: 8rem auto 0 auto;

    .extra {
        box-shadow: 20px 20px 20px hsla(0%, 0%, 0%, .7);;
        animation-name: efecto;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        background-color: black;
        
        width: 100%;
        text-align: center;
        padding: 0;
        text-decoration: none;
        color: $blanco;
        @include font-fsw($fuenteHeading, inherit, bold);
        display: block;
        font-size: 1.2rem;

        p {
            margin: 0;
            padding: .8rem 0;
        }
    }
}

@keyframes efecto {
    0% {
        border-radius: 0 0 0 0;
    }

    20% {
    }

    33.3% {
        transform: rotate(3deg);
        background-color: rgb(255, 45, 45);
        border-radius: 50% 0 0 0;
    }

    50% {
        background-color: rgb(0, 0, 0);
    }

    66.6%{
        transform: rotate(-3deg);
        border-radius: 0 50% 0 0;
        background-color: rgb(255, 45, 45);
    }
}


@media(min-width: 768px) {
    .extras {
        flex-direction: row;
        width: 100%; 
        margin: 10rem 0;

        .extra {
            font-size: 1.6rem;

            p {
                padding: 2rem 0;
            }
        }
    }
}

/* ---------------------------------------------------------------*/
/* SHOPPING INFO */

.separador {
    margin-top: 10rem;
    border-top: 1px solid gray;
}

.shopping-info {
    margin-top: 3rem;
    @include flex-dgja(column, 2rem, center, center);
    width: 100%;
    margin: 3rem auto;

    &_item {
        font-size: 1.4rem;
        text-align: center;
        &:not(:last-child) {
            border-bottom: 1px solid rgb(194, 194, 194);
            padding-bottom: 2rem;
        }

        &-img {
            width: 20%;
            margin: 1rem auto;
        }

        &-titulo {
            font-weight: bold;
            text-align: center;
            margin: 1rem 0;
        }

        &-text {
            width: 50%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) {
    .separador {
        border-top: unset;
    }

    .shopping-info {
        flex-direction: row;
        
        &_item {
            @include flex-dgja(column, .5rem, space-between, center);
            font-size: 1.6rem;
            
            &:not(:last-child) {
                border-bottom: unset;
                padding-bottom: 0;
            }

            &-img {
                width: 40%;
                height: 18rem;
            }

            &-titulo {
                font-weight: bold;
                margin: 1rem 0;
                width: 100%;
            }
    
            &-text {
                width: 100%;
                text-align: center;
            }
        }

    }
}

@media (min-width: 1024px) {
    .shopping-info {
        flex-direction: row;
        
        &_item {
            @include flex-dgja(column, .5rem, space-between, center);
            font-size: 1.8rem;
            
            &:not(:last-child) {
                border-bottom: unset;
                padding-bottom: 0;
            }

            &-img {
                width: 33%;
                height: 18rem;
            }

            &-titulo {
                font-weight: bold;
                text-align: center;
                margin: 1rem 0;
            }
    
            &-text {
                width: 90%;
                margin: 0 auto;
            }
        }

    }

}


/* ---------------------------------------------------------------*/

.fondo-pie-previo {
    background-color: rgb(207, 207, 207);
}

.pie-previo {
    color: rgb(109, 109, 109);
    padding: 2rem 0;
    gap: 2rem;
    margin-top: 8rem;
    @include flex-dgja(column, 4rem, flex-start, center);


    .datos {
        display: flex;
        gap: 1rem;
        text-align: center;
        padding: 0;
        border: none;
        justify-content: space-between;

        .dato {
            display: flex;
            flex-direction: column;
            max-width: 25%;
            strong {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.2rem;
            }
            .tarjetas {
                gap: .2rem;
                margin: 0;
                max-width: 100%;
                @include  grid-crgaj(repeat(3, 1fr), repeat(2, 1fr), 1rem, start, start);
        
                img {
                    max-width: 75%;
                    margin: 0 auto;
                    align-self: center;
                }
            }
        }
    }
}

.logo-pie {
    font-size: 3.5rem;
}

@media(min-width: 768px){
    .pie-previo {
        gap: 2rem;
        margin-top: 8rem;
        
        .datos {
            gap: 1.5rem;
            padding-left: 1.5rem;
            
            .dato {
                strong {
                    font-size: 1.75rem;
                }
                
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media(min-width: 1024px) {

    .pie-previo {
        flex-direction: row;
        margin-top: 15rem;
        padding: 5rem 0;

        .datos {
            @include flex-dgja(row, 3rem, space-between, flex-start);
            border-left: 1px solid gray;
            padding-left: 4rem;

            .dato {
                text-align: center;
                max-width: 25%;
            
                strong {
                    @include font-fsw(inherit, 2rem, bold);
                    margin-bottom: 2rem;
                }
            
                p {
                    margin: 0;
                    width: 100%;
                    font-size: 1.5rem;
                }
            
                .tarjetas {
                    margin: 0;
                    width: 100%;
                    @include  grid-crgaj(repeat(3, 1fr), repeat(2, 1fr), 1rem, start, start);
            
                    img {
                        width: 75%;
                        margin: 0 auto;
                        align-self: center;
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------------------*/

footer {
    background-color: #1a1a1a;
    padding: 2rem 0;
    
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__texto {
            color: $blanco;
            font-size: 1.4rem;
            padding: 2rem 0;
            margin: 0;
        }

        &__contacto {
            @include  grid-crgaj(1fr 1fr, 1fr 1fr, .5rem, start, start);
            
        }
    }
}

/* Style all font awesome icons */
.fa {
    padding: .5rem;
    width: 2.5rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;

    /* Add a hover effect if you want */
    &:hover {
        
        transition: .5s;
    }

    @each $red, $bg in $redes {
        &-#{$red} {
            color: $blanco;
            background: $bg;
        }

        &-#{$red}:hover {
            color: $bg;
            background: $blanco;
        }
    }
}

@media(min-width: 768px) {
    
    footer {
        height: 5%;
        padding: 3rem 0;

        .footer__texto {
            font-size: 1.6rem;
        }

        .footer__contacto {
            display: flex;
            gap: .5rem;
        }
    }

    .fa {
        padding: 2rem;
        width: 5rem;
    }
}

/* ---------------------------------------------------------------*/
/* LOCALES */

.locales-todo {
    padding-top: 10rem;
}

.locales {
    @include grid-crgaj(1fr, repeat(3, 1fr), 0, start, start);
    margin-top: 5rem;
    width: 100%;

    .local {
        
        @include flex-dgja(column, 2rem, center, center);
        padding-bottom: 2rem;
        width: 100%;

        iframe {
            align-self: center;
            padding-top: 2rem;
            width: 90%;
        }

        img {
            width: 20%;
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgb(194, 194, 194);
            padding-bottom: 2rem;
        }

        &__info {
            @include flex-dgja(column, 0, center, center);
            font-size: 1.5rem;
            text-align: center;

            p {
                align-items: center;
            }

            &__direccion {
                @include font-fsw(inherit, 2rem, bold);
            }
        }
    }
}

@media(min-width: 768px) {
    .locales .local {
        @include flex-dgja(row, 5rem, flex-start, center);
        padding-bottom: 0;

        iframe {
            width: 40%;
        }
    }   
}


/* ---------------------------------------------------------------*/
/* CONTACTO */

.formulario-todo {
    padding-top: 10rem;
}

form {
    width: 85%;
    margin: 5rem auto;
    background-color: rgb(110, 110, 110);
    padding: 2rem;
    border-radius: 5px;
    font-family: $fuenteParrafos;
    color: $blanco;

    .form-group {
        line-height: 4rem;

        label {
            font-weight: bold;
            font-size: 2rem;
        }

        .form-control {
            padding: 1rem;
            border: none;
            border-radius: 8px;
            font-size: 1.5rem;
        }
    }
}

.botones {
    width: 75%;
    margin: 0 auto;
    @include flex-dgja(row, 5rem, space-between, space-between);
    gap: 1rem;
}

.boton-rojo {
    @include boton(rgb(255, 48, 48));

    &:hover {
        cursor: pointer;
        color: $negro;
        background-color: rgb(255, 144, 144);
    }
}
.boton-verde {
    @include boton(rgb(0, 157, 0));

    &:hover {
        cursor: pointer;
        color: $negro;
        background-color: rgb(123, 255, 123);
    }
}


@media(min-width: 768px) {

    form {
        width: 75%;
        margin: 5rem auto;
        background-color: rgb(110, 110, 110);
        padding: 4rem;
        border-radius: 5px;
        font-family: $fuenteParrafos;
    }

    .botones {
        flex-direction: row;
        margin: 3rem auto 0 auto;
    }
}

/* ---------------------------------------------------------------*/
/* NOSOTROS */

.sobre-nosotros {
    padding-top: 10rem;

    .nosotros {
        @include flex-dgja(column, 5rem, center, center);
        padding: 1rem;
        margin-top: 5rem;
        

        &__texto {
            padding: 0;
            border: none;
            width: 100%;
        }

        &__logo {
            @include font-fsw(Aquire, 4rem, bold);
            text-decoration: none;
        }
    }
}

@media(min-width: 1024px) {

    .sobre-nosotros {
        .nosotros {
            padding: 10rem;
            flex-direction: row;

            &__texto {
                width: 70%;
                border-left: 1px solid black;
                padding-left: 5rem;
            }
        }
    }    
}

/* ---------------------------------------------------------------*/
/* PRODUCTOS */

.padding-top {
    padding-top: 10rem;
}

.filtros_productos {
    margin: 10rem 0;
    
    .filtros {
        border-radius: 10px;
        background-color: rgb(233, 233, 233);
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 3rem 0;
        @include grid-crgaj(1fr, repeat(2, 1fr), 0, center, center);
        
        div {
            padding-bottom: 1rem;
            width: 50%;
            margin: 0 auto;

            label {
                font-weight: bold;
                display: block;
            }

            .form-control-filtro {
                font-size: 1.4rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgb(194, 194, 194);
            }

            &:not(:first-child) {
                padding-top: 1rem;
            }
        }
    }

    @include grid-crgaj(1fr, .15fr .85fr, 0, center, center);
    
    .productos-todo {
        margin-top: 5rem;
        padding: .5rem;
        @include grid-crgaj(1fr, repeat(9, 1fr), 1.5rem, start, start);
        font-size: 1.6rem;
        border: none;
    }
}

.publicacion {
    height: 100%;   

    &:not(:last-child) {
        border-bottom: 1px solid rgb(194, 194, 194);
    }

    .producto__enlace {
        text-decoration: none;
        color: $negro;

        .producto__contenedor {
            @include flex-dgja(row, 3rem, center, center);

            .producto__imagen {
                width: 50%;
                height: 200px;
                padding: 2.5rem;
            }
            .producto__datos {
                @include flex-dgja(column, 1.5rem, flex-start, center);
                text-align: center;
                width: 50%;
                padding: 5rem 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__imagen {
        width: 30%;
        height: 180px;
        padding: 2.5rem;
    }
}

@media(min-width: 1024px) {
    
    .filtros_productos {
        border: 1px solid black;
        border-radius: 10px;
        @include grid-crgaj(.3fr .7fr, repeat(1, 1fr), 0, start, space-between);

        .filtros {
            display: block;
            padding-top: 8rem;
            background-color: rgb(233, 233, 233);
            height: 100%;
            border-radius: 10px;

            div {
                text-align: center;
                margin: 0 auto;
                width: 75%;
                padding-bottom: 3rem;
                font-size: 1.4rem;
    
                label {
                    font-weight: bold;
                    display: block;
                }
    
                .form-control-filtro {
                    font-size: 1.4rem;
                }
    
                &:not(:last-child) {
                    border-bottom: 1px solid rgb(194, 194, 194);
                }
    
                &:not(:first-child) {
                    padding-top: 1rem;
                }
            }            
        }

        .productos-todo {
            border-left: 1px solid black;
            padding: 3rem;
            @include  grid-crgaj(repeat(3, 1fr), repeat(3, 1fr), 2rem, start, center);
            margin-top: 0;

            .publicacion {
                &:not(:last-child) {
                    border-bottom: unset;
                }

                .producto__enlace {
                    width: 100%;

                    &:hover .producto__contenedor {
                        box-shadow: 0 4px 4px hsla(0%, 0%, 0%, .3);
                        transition: .3s ease;
                    }
            
                    .producto__contenedor {
                        @include flex-dgja(column, 0, center, center);
                        padding: 1rem;
                        height: 30rem;
                        
            
                        .producto__imagen {
                            height: 22rem;
                            width: 75%;
                        }
            
                        .producto__datos {
            
                            @include flex-dgja(column, 0, flex-start, center);
                            height: 10rem;
                            width: 100%;
                            font-weight: normal;
                            font-size: 1.4rem;
                            padding: unset;
            
                            &__precio {
                                font-weight: bold;
                            }
                            
                            p {
                                margin: 0;
                                text-align: center;
                            }
                        }
                    }
                }
            } 
            
            
        }
    }

    
    
    
}

/* ---------------------------------------------------------------*/
/* PRODUCTO */

.producto__titulo {
    padding-top: 10rem;
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-family: $fuenteHeading;
}

.producto__data {
    @include flex-dgja(column, 2rem, center, flex-start);
    margin: 10rem 0;
    width: 100%;

    .prod {
        margin: 0 auto;
        &__cantidad {
            align-self: center;
            padding-bottom: 2rem;

            input {
                font-size: 1.4rem;
            }
        }

        &__imagen {
            width: 50%;
            margin: 0 auto;
        }
    
        &__info {
            text-align: center;
            margin-top: 2rem;

            &__precio {
                font-weight: bold;
                font-size: 2rem;
            }
        }

        button {
            width: 100%;
        }
    }
}


@media(min-width: 768px) {
    .producto__data {
        @include flex-dgja(row, 2rem, center, center);
        width: 80%;
        margin: 10rem auto;

        .prod {
            &__cantidad {
                align-self: center;
                padding-bottom: 2rem;

                input {
                    font-size: 1.4rem;
                }
            }

            &__imagen {
                width: 50%;
                border-right: 1px solid black;
                padding-right: 2rem;
            }
        
            &__info {
                text-align: center;
            }
        }

    }
}

@media(min-width: 1024px) {
    .producto__data {
        width: 65%;
        gap: 10rem;

        .prod {
            &__imagen {
                width: 50%;
                padding-right: 10rem;
            }
        }
    }
}



/* ---------------------------------------------------------------*/
/* GIFT CARDS */


.gift-todo {
    padding-top: 10rem;
}

.giftcards {
    margin: 10rem 0;
    @include grid-crgaj(1fr 1fr, repeat(3, 1fr), 1rem, center, center);

}

.gift-card {
    text-align: center;

    img {
        width: 100%;
    }

    p {
        font-weight: bold;
    }
}


@media(min-width: 768px) {
    .gift-todo {
        padding-top: 10rem;
        width: 90%;
    }
    
    .giftcards {
        @include grid-crgaj(repeat(3, 1fr), repeat(2, 1fr), 2rem, start, start);
    
    }
}



/* ---------------------------------------------------------------*/
/* CHECKOUT */



#lista-compra {
    margin-top: 10rem;
}

.text-right {
    text-align: right;
}

#subtotal {
    color: black;
}


.swal2-container .swal2-popup {
    font-size: 1.4rem;
}

#lista-compra {
    th {
        font-size: 1.2rem;
    }
}

#listado-resumen {
    tr {
        font-size: 1.2rem;

        .td-imagen {
            img {
                width: 100%;
                padding: 2rem 0;
            }
        }
    }
}

#contenedor-btn-finalizar {
    text-align: center;
}

#btn-finalizar {
    margin: 2rem 0;
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 50%;
}


@media (min-width: 1024px) {
    #lista-compra {
        th {
            font-size: 1.8rem;
        }
    }

    #listado-resumen {
        tr {
            font-size: 1.6rem;

            .td-imagen {
                width: 10%;
                
                img {
                    padding: 0;
                }
            }

        }
    }

    #tabla-resumen {
        font-size: 1.4rem;
        font-weight: bold;
    }

    #btn-finalizar {
        width: 50%;
        font-size: 3rem;
    }
}


/* ---------------------------------------------------------------*/
// LOGIN 

.credenciales {
    box-shadow: 0 4px 4px hsla(0%, 0%, 1%, .4);
    background-color: $blanco;
    text-align: center;
    h1, label {
        color: $negro;
    }

    input {
        box-shadow: 0 1px 1px hsla(0%, 0%, 1%, .4);
        margin: 2rem auto;
    }

    button {
        margin: 2rem auto;
    }    
}

.credenciales-body {
    background-color: rgb(40, 40, 40);
}
