/* --------------------------------------------------------------- */
@font-face {
  font-family: Aquire;
  src: url("../fuente/Aquire-BW0ox.otf") format("opentype");
}

@font-face {
  font-family: Aquire;
  font-weight: normal;
  src: url("../fuente/AquireLight-YzE0o.otf") format("opentype");
}

@font-face {
  font-family: Aquire;
  font-weight: bold;
  src: url("../fuente/AquireBold-8Ma60.otf") format("opentype");
}

/* --------------------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10 pixeles */
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  /* Interlineado */
  margin: 0;
}

header {
  background-color: #1a1a1a;
  border-bottom: 1px solid #5a5a5a;
  height: 23rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

header .row {
  gap: 1rem;
}

.contenedor {
  width: 85%;
  margin: 0 auto;
}

.contenedor-header {
  width: 95%;
  margin: 0 auto;
}

.contenedor-expandido {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor-expandido {
    width: 85%;
  }
}

.header__contacto {
  text-align: end;
}

.header__contacto .fa {
  padding: .5rem;
  width: 2rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  /* Add a hover effect if you want */
}

.header__contacto .fa:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.header__contacto .fa-twitter {
  color: #FFF;
  background: #55ACEE;
}

.header__contacto .fa-twitter:hover {
  color: #55ACEE;
  background: #FFF;
}

.header__contacto .fa-facebook {
  color: #FFF;
  background: #3B5998;
}

.header__contacto .fa-facebook:hover {
  color: #3B5998;
  background: #FFF;
}

.header__contacto .fa-instagram {
  color: #FFF;
  background: #e1306c;
}

.header__contacto .fa-instagram:hover {
  color: #e1306c;
  background: #FFF;
}

.header__contacto .fa-whatsapp {
  color: #FFF;
  background: #25d366;
}

.header__contacto .fa-whatsapp:hover {
  color: #25d366;
  background: #FFF;
}

.logo, .logo-pie {
  display: inline-block;
  font-family: Aquire;
  color: #FFF;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.logo:hover, .logo-pie:hover {
  color: #FFF;
}

.logo-pie {
  color: gray;
  font-size: 3rem;
}

.logo-pie:hover {
  color: gray;
}

.contenedor-carrito {
  padding-top: 2rem;
}

li#dropdown-carrito-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li#dropdown-carrito-li i {
  font-size: 2.5rem;
}

#vaciar-carrito, #procesar-pedido {
  font-size: 1.2rem;
}

.menu-carrito {
  max-height: 300px;
  width: 450px;
  overflow-y: auto;
  font-size: 1.4rem;
}

tbody {
  font-size: 1.4rem;
}

tbody tr {
  vertical-align: middle;
}

tbody tr td .borrar-producto {
  text-decoration: none;
  font-size: 2rem;
}

tbody img {
  height: 100px;
  width: 70px;
}

.inicio-sesion {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.4rem;
}

.inicio-sesion img {
  display: inline;
  position: relative;
  width: 5%;
}

.inicio-sesion .log {
  display: inline;
  color: #FFF;
}

.inicio-sesion .bx-cart {
  color: white;
  font-size: 30px;
}

.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  color: #FFF;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0 .5rem;
  border-radius: .5rem;
  background-color: unset;
  border: none;
}

.nav-link:hover {
  color: #000;
  background-color: #FFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.dropdown-item {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscar__barra {
  background-color: #FFF;
  border: none;
  height: 2.5rem;
  font-size: 1.4rem;
  width: 70%;
  color: #000;
  border-radius: 5px;
}

.buscar__barra:focus {
  outline: none;
}

.buscar__barra::-webkit-input-placeholder {
  opacity: 0.5;
  color: black;
  font-weight: 700;
}

.buscar__barra:-ms-input-placeholder {
  opacity: 0.5;
  color: black;
  font-weight: 700;
}

.buscar__barra::-ms-input-placeholder {
  opacity: 0.5;
  color: black;
  font-weight: 700;
}

.buscar__barra::placeholder {
  opacity: 0.5;
  color: black;
  font-weight: 700;
}

.contenedor-carrito {
  padding-top: 1rem;
}

.contenedor-carrito .dropdown-menu {
  max-height: 320px;
  overflow-y: scroll;
  font-size: 1.2rem;
}

.contenedor-carrito .dropdown-menu tbody {
  font-size: 1.2rem;
}

.contenedor-carrito li#dropdown-carrito-li i {
  font-size: 2rem;
}

@media (min-width: 991px) {
  header {
    height: 19rem;
  }
  header .header__contacto .fa {
    margin-top: 1rem;
    padding: 1rem;
    width: 3rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    /* Add a hover effect if you want */
  }
  header .header__contacto .fa:hover {
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .header__contacto .fa-twitter {
    color: #FFF;
    background: #55ACEE;
  }
  header .header__contacto .fa-twitter:hover {
    color: #55ACEE;
    background: #FFF;
  }
  header .header__contacto .fa-facebook {
    color: #FFF;
    background: #3B5998;
  }
  header .header__contacto .fa-facebook:hover {
    color: #3B5998;
    background: #FFF;
  }
  header .header__contacto .fa-instagram {
    color: #FFF;
    background: #e1306c;
  }
  header .header__contacto .fa-instagram:hover {
    color: #e1306c;
    background: #FFF;
  }
  header .header__contacto .fa-whatsapp {
    color: #FFF;
    background: #25d366;
  }
  header .header__contacto .fa-whatsapp:hover {
    color: #25d366;
    background: #FFF;
  }
  header nav {
    margin-top: 1rem;
  }
  header .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav-link {
    font-size: 1.8rem;
  }
  header .row {
    gap: 0;
  }
  header .logo, header .logo-pie {
    text-align: left;
    font-size: 5.5rem;
  }
  header .buscar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .buscar__barra {
    font-size: 2rem;
    width: 75%;
    padding: 2rem;
  }
  header .contenedor-carrito {
    padding-top: 0rem;
  }
  header .contenedor-carrito li#dropdown-carrito-li i {
    font-size: 2.5rem;
  }
  header .contenedor-carrito .inicio-sesion {
    font-size: 1.6rem;
  }
}

/* --------------------------- */
/* CATEGORIAS */
.categorias {
  padding-top: 10rem;
}

.categorias__secciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5rem auto;
  width: 100%;
}

.categorias__secciones .seccion {
  width: 100%;
  height: 100%;
  position: relative;
}

.categorias__secciones .seccion__contenedorImagen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categorias__secciones .seccion__contenedorImagen img {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.categorias__secciones .seccion__contenedorImagen .seccion__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categorias__secciones .seccion__contenedorImagen .seccion__overlay p {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 .5rem;
  z-index: 2;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.categorias #seccion-bajos {
  grid-column: auto;
}

.categorias #seccion-amplificadores {
  grid-column: auto;
}

.categorias #seccion-accesorios {
  grid-column: auto;
}

.titulo {
  margin: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  .categorias {
    padding-top: 5rem;
  }
  .categorias__secciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 5rem auto;
    width: 100%;
  }
  .categorias__secciones .seccion__contenedorImagen {
    border-radius: 0;
  }
  .categorias__secciones .seccion__contenedorImagen img {
    border-radius: 0;
  }
  .categorias__secciones .seccion__contenedorImagen .seccion__overlay p {
    font-size: 2rem;
  }
  .titulo {
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .categorias__secciones {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .categorias__secciones #seccion-bajos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .categorias__secciones #seccion-amplificadores {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .categorias__secciones #seccion-accesorios {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .categorias__secciones .seccion {
    height: 300px;
  }
  .categorias__secciones .seccion__contenedorImagen {
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categorias__secciones .seccion__contenedorImagen img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .categorias__secciones .seccion__contenedorImagen .seccion__overlay p {
    font-size: 2.5rem;
  }
  .categorias__secciones .seccion:hover .seccion__contenedorImagen img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
  }
  .categorias__secciones .seccion:hover p {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .titulo {
    padding: 2rem 0 2rem 0;
    font-size: 3rem;
  }
}

/* ---------------------------------------------------------------*/
.carousel {
  width: 100%;
}

.carousel .carousel-indicators {
  display: none;
}

.carousel .carousel-item img {
  height: 20rem;
}

@media (min-width: 768px) {
  .carousel .carousel-item img {
    height: 30rem;
  }
  .carousel .carousel-indicators {
    display: block;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .carousel {
    margin: 0 auto;
  }
  .carousel .carousel-item img {
    height: 52rem;
  }
}

/* ---------------------------------------------------------------*/
/* EXTRA */
.extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: 8rem auto 0 auto;
}

.extras .extra {
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0;
  text-decoration: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
}

.extras .extra p {
  margin: 0;
  padding: .8rem 0;
}

@-webkit-keyframes efecto {
  0% {
    border-radius: 0 0 0 0;
  }
  20% {
  }
  33.3% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
    background-color: #ff2d2d;
    border-radius: 50% 0 0 0;
  }
  50% {
    background-color: black;
  }
  66.6% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    border-radius: 0 50% 0 0;
    background-color: #ff2d2d;
  }
}

@keyframes efecto {
  0% {
    border-radius: 0 0 0 0;
  }
  20% {
  }
  33.3% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
    background-color: #ff2d2d;
    border-radius: 50% 0 0 0;
  }
  50% {
    background-color: black;
  }
  66.6% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    border-radius: 0 50% 0 0;
    background-color: #ff2d2d;
  }
}

@media (min-width: 768px) {
  .extras {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 10rem 0;
  }
  .extras .extra {
    font-size: 1.6rem;
  }
  .extras .extra p {
    padding: 2rem 0;
  }
}

/* ---------------------------------------------------------------*/
/* SHOPPING INFO */
.separador {
  margin-top: 10rem;
  border-top: 1px solid gray;
}

.shopping-info {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 3rem auto;
}

.shopping-info_item {
  font-size: 1.4rem;
  text-align: center;
}

.shopping-info_item:not(:last-child) {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 2rem;
}

.shopping-info_item-img {
  width: 20%;
  margin: 1rem auto;
}

.shopping-info_item-titulo {
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.shopping-info_item-text {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .separador {
    border-top: unset;
  }
  .shopping-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shopping-info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.6rem;
  }
  .shopping-info_item:not(:last-child) {
    border-bottom: unset;
    padding-bottom: 0;
  }
  .shopping-info_item-img {
    width: 40%;
    height: 18rem;
  }
  .shopping-info_item-titulo {
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
  }
  .shopping-info_item-text {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .shopping-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shopping-info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.8rem;
  }
  .shopping-info_item:not(:last-child) {
    border-bottom: unset;
    padding-bottom: 0;
  }
  .shopping-info_item-img {
    width: 33%;
    height: 18rem;
  }
  .shopping-info_item-titulo {
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  .shopping-info_item-text {
    width: 90%;
    margin: 0 auto;
  }
}

/* ---------------------------------------------------------------*/
.fondo-pie-previo {
  background-color: #cfcfcf;
}

.pie-previo {
  color: #6d6d6d;
  padding: 2rem 0;
  gap: 2rem;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pie-previo .datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  text-align: center;
  padding: 0;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pie-previo .datos .dato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25%;
}

.pie-previo .datos .dato strong {
  font-size: 1.5rem;
}

.pie-previo .datos .dato p {
  font-size: 1.2rem;
}

.pie-previo .datos .dato .tarjetas {
  gap: .2rem;
  margin: 0;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.pie-previo .datos .dato .tarjetas img {
  max-width: 75%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-pie {
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .pie-previo {
    gap: 2rem;
    margin-top: 8rem;
  }
  .pie-previo .datos {
    gap: 1.5rem;
    padding-left: 1.5rem;
  }
  .pie-previo .datos .dato strong {
    font-size: 1.75rem;
  }
  .pie-previo .datos .dato p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .pie-previo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15rem;
    padding: 5rem 0;
  }
  .pie-previo .datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-left: 1px solid gray;
    padding-left: 4rem;
  }
  .pie-previo .datos .dato {
    text-align: center;
    max-width: 25%;
  }
  .pie-previo .datos .dato strong {
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .pie-previo .datos .dato p {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
  }
  .pie-previo .datos .dato .tarjetas {
    margin: 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .pie-previo .datos .dato .tarjetas img {
    width: 75%;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* ---------------------------------------------------------------*/
footer {
  background-color: #1a1a1a;
  padding: 2rem 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__texto {
  color: #FFF;
  font-size: 1.4rem;
  padding: 2rem 0;
  margin: 0;
}

footer .footer__contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* Style all font awesome icons */
.fa {
  padding: .5rem;
  width: 2.5rem;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  /* Add a hover effect if you want */
}

.fa:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.fa-twitter {
  color: #FFF;
  background: #55ACEE;
}

.fa-twitter:hover {
  color: #55ACEE;
  background: #FFF;
}

.fa-facebook {
  color: #FFF;
  background: #3B5998;
}

.fa-facebook:hover {
  color: #3B5998;
  background: #FFF;
}

.fa-instagram {
  color: #FFF;
  background: #e1306c;
}

.fa-instagram:hover {
  color: #e1306c;
  background: #FFF;
}

.fa-whatsapp {
  color: #FFF;
  background: #25d366;
}

.fa-whatsapp:hover {
  color: #25d366;
  background: #FFF;
}

@media (min-width: 768px) {
  footer {
    height: 5%;
    padding: 3rem 0;
  }
  footer .footer__texto {
    font-size: 1.6rem;
  }
  footer .footer__contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
  }
  .fa {
    padding: 2rem;
    width: 5rem;
  }
}

/* ---------------------------------------------------------------*/
/* LOCALES */
.locales-todo {
  padding-top: 10rem;
}

.locales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 5rem;
  width: 100%;
}

.locales .local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
  width: 100%;
}

.locales .local iframe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
  width: 90%;
}

.locales .local img {
  width: 20%;
}

.locales .local:not(:last-child) {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 2rem;
}

.locales .local__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.locales .local__info p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locales .local__info__direccion {
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .locales .local {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 0;
  }
  .locales .local iframe {
    width: 40%;
  }
}

/* ---------------------------------------------------------------*/
/* CONTACTO */
.formulario-todo {
  padding-top: 10rem;
}

form {
  width: 85%;
  margin: 5rem auto;
  background-color: #6e6e6e;
  padding: 2rem;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
}

form .form-group {
  line-height: 4rem;
}

form .form-group label {
  font-weight: bold;
  font-size: 2rem;
}

form .form-group .form-control {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
}

.botones {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5rem;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.boton-rojo {
  background-color: #ff3030;
  font-weight: bold;
  color: #FFF;
  border: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 1rem;
}

.boton-rojo:hover {
  cursor: pointer;
  color: #000;
  background-color: #ff9090;
}

.boton-verde {
  background-color: #009d00;
  font-weight: bold;
  color: #FFF;
  border: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 1rem;
}

.boton-verde:hover {
  cursor: pointer;
  color: #000;
  background-color: #7bff7b;
}

@media (min-width: 768px) {
  form {
    width: 75%;
    margin: 5rem auto;
    background-color: #6e6e6e;
    padding: 4rem;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
  }
  .botones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3rem auto 0 auto;
  }
}

/* ---------------------------------------------------------------*/
/* NOSOTROS */
.sobre-nosotros {
  padding-top: 10rem;
}

.sobre-nosotros .nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin-top: 5rem;
}

.sobre-nosotros .nosotros__texto {
  padding: 0;
  border: none;
  width: 100%;
}

.sobre-nosotros .nosotros__logo {
  font-family: Aquire;
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .sobre-nosotros .nosotros {
    padding: 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sobre-nosotros .nosotros__texto {
    width: 70%;
    border-left: 1px solid black;
    padding-left: 5rem;
  }
}

/* ---------------------------------------------------------------*/
/* PRODUCTOS */
.padding-top {
  padding-top: 10rem;
}

.filtros_productos {
  margin: 10rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.15fr 0.85fr;
      grid-template-rows: 0.15fr 0.85fr;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtros_productos .filtros {
  border-radius: 10px;
  background-color: #e9e9e9;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtros_productos .filtros div {
  padding-bottom: 1rem;
  width: 75%;
  margin: 0 auto;
}

.filtros_productos .filtros div label {
  font-weight: bold;
  display: block;
}

.filtros_productos .filtros div .form-control-filtro {
  font-size: 1.4rem;
  text-align: center;
}

.filtros_productos .filtros div:not(:last-child) {
  border-bottom: 1px solid #c2c2c2;
}

.filtros_productos .filtros div:not(:first-child) {
  padding-top: 1rem;
}

.filtros_productos .productos-todo {
  margin-top: 5rem;
  padding: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.6rem;
  border: none;
}

.publicacion {
  height: 100%;
}

.publicacion:not(:last-child) {
  border-bottom: 1px solid #c2c2c2;
}

.publicacion .producto__enlace {
  text-decoration: none;
  color: #000;
}

.publicacion .producto__enlace .producto__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.publicacion .producto__enlace .producto__contenedor .producto__imagen {
  width: 50%;
  height: 200px;
  padding: 2.5rem;
}

.publicacion .producto__enlace .producto__contenedor .producto__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 50%;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__imagen {
    width: 30%;
    height: 180px;
    padding: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .filtros_productos {
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.3fr 0.7fr;
        grid-template-columns: 0.3fr 0.7fr;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    gap: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filtros_productos .filtros {
    display: block;
    padding-top: 8rem;
    background-color: #e9e9e9;
    height: 100%;
    border-radius: 10px;
  }
  .filtros_productos .filtros div {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 3rem;
    font-size: 1.4rem;
  }
  .filtros_productos .filtros div label {
    font-weight: bold;
    display: block;
  }
  .filtros_productos .filtros div .form-control-filtro {
    font-size: 1.4rem;
  }
  .filtros_productos .filtros div:not(:last-child) {
    border-bottom: 1px solid #c2c2c2;
  }
  .filtros_productos .filtros div:not(:first-child) {
    padding-top: 1rem;
  }
  .filtros_productos .productos-todo {
    border-left: 1px solid #a7a7a7;
    padding: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .filtros_productos .productos-todo .publicacion:not(:last-child) {
    border-bottom: unset;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace {
    width: 100%;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace:hover .producto__contenedor {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    height: 30rem;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__imagen {
    height: 22rem;
    width: 100%;
    padding-top: 0;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 10rem;
    width: 100%;
    font-weight: normal;
    font-size: 1.4rem;
    padding: unset;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__datos__precio {
    font-weight: bold;
  }
  .filtros_productos .productos-todo .publicacion .producto__enlace .producto__contenedor .producto__datos p {
    margin: 0;
    text-align: center;
  }
}

/* ---------------------------------------------------------------*/
/* PRODUCTO */
.producto__titulo {
  padding-top: 10rem;
  margin: 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

.producto__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem 0;
  width: 100%;
}

.producto__data .prod {
  margin: 0 auto;
}

.producto__data .prod__cantidad {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 2rem;
}

.producto__data .prod__cantidad input {
  font-size: 1.4rem;
}

.producto__data .prod__imagen {
  width: 80%;
  margin: 0 auto;
}

.producto__data .prod__info {
  text-align: center;
  margin-top: 2rem;
}

.producto__data .prod__info__precio {
  font-weight: bold;
  font-size: 2rem;
}

.producto__data .prod button {
  width: 100%;
}

@media (min-width: 768px) {
  .producto__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 10rem auto;
  }
  .producto__data .prod__cantidad {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 2rem;
  }
  .producto__data .prod__cantidad input {
    font-size: 1.4rem;
  }
  .producto__data .prod__imagen {
    width: 50%;
    border-right: 1px solid black;
    padding-right: 2rem;
  }
  .producto__data .prod__info {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .producto__data {
    width: 90%;
    gap: 10rem;
  }
  .producto__data .prod__imagen {
    width: 50%;
    padding-right: 10rem;
  }
  .producto__data .prod__info {
    font-size: 1.6rem;
  }
}

/* ---------------------------------------------------------------*/
/* GIFT CARDS */
.gift-todo {
  padding-top: 10rem;
}

.giftcards {
  margin: 10rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift-card {
  text-align: center;
}

.gift-card img {
  width: 100%;
}

.gift-card p {
  font-weight: bold;
}

@media (min-width: 768px) {
  .gift-todo {
    padding-top: 10rem;
    width: 90%;
  }
  .giftcards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

/* ---------------------------------------------------------------*/
/* CHECKOUT */
#lista-compra {
  margin-top: 10rem;
}

.text-right {
  text-align: right;
}

#subtotal {
  color: black;
}

.swal2-container .swal2-popup {
  font-size: 1.4rem;
}

#lista-compra th {
  font-size: 1.2rem;
}

#listado-resumen tr {
  font-size: 1.2rem;
}

#listado-resumen tr .td-imagen img {
  width: 100%;
  padding: 2rem 0;
}

#contenedor-btn-finalizar {
  text-align: center;
}

#btn-finalizar {
  margin: 2rem 0;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 50%;
}

@media (min-width: 1024px) {
  #lista-compra th {
    font-size: 1.8rem;
  }
  #listado-resumen tr {
    font-size: 1.6rem;
  }
  #listado-resumen tr .td-imagen {
    width: 10%;
  }
  #listado-resumen tr .td-imagen img {
    padding: 0;
  }
  #tabla-resumen {
    font-size: 1.4rem;
    font-weight: bold;
  }
  #btn-finalizar {
    width: 50%;
    font-size: 3rem;
  }
}

/* ---------------------------------------------------------------*/
.credenciales {
  -webkit-box-shadow: 0 4px 4px rgba(3, 3, 3, 0.4);
          box-shadow: 0 4px 4px rgba(3, 3, 3, 0.4);
  background-color: #FFF;
  text-align: center;
}

.credenciales h1, .credenciales label {
  color: #000;
}

.credenciales input {
  -webkit-box-shadow: 0 1px 1px rgba(3, 3, 3, 0.4);
          box-shadow: 0 1px 1px rgba(3, 3, 3, 0.4);
  margin: 2rem auto;
}

.credenciales button {
  margin: 2rem auto;
}

.credenciales-body {
  background-color: #282828;
}
/*# sourceMappingURL=style.css.map */